## Objetivo

#### O projeto procura comparar a correlação de Taxa de Câmbio com as Exportações da Russia no seu período de Guerra (Janeiro de 2022) e também olhar esse comportamento durante o tempo.

### Data Frame - Exportação 

###### The Observatory of Economic Complexity.

OEC - Plataforma Especializada em dados de trocas comerciais (importações, exportações e taxas de câmbio).  Tambêm possuem blogs e pesquisas todas voltadas para a área da Economia.

<https://oec.world/en/profile/country/rus#:~:text=Yearly%20Exports,-%23permalink%20to%20section&text=In%202020%2C%20Russia%20exported%20a,to%20%24330B%20in%202020>

In [1]:
import pandas as pd

In [2]:
export = pd.read_csv('Products-Exports-Jan-2022----Click-to-Select-a-Product.csv')

In [3]:
export.columns

Index(['Section ID', 'Section', 'HS2 ID', 'HS2', 'HS4 ID', 'HS4', 'Year',
       'Quarter ID', 'Quarter', 'Month ID', 'Month', 'Time', 'Trade Value'],
      dtype='object')

In [4]:
export.head()

,Section ID,Section,HS2 ID,HS2,HS4 ID,HS4,Year,Quarter ID,Quarter,Month ID,Month,Time,Trade Value
0,1,Animal Products,101,Live animals,10101,Horses,2022,1,Q1,1,January,202201,140448.01
1,1,Animal Products,101,Live animals,10102,Bovine,2022,1,Q1,1,January,202201,162982.54
2,1,Animal Products,101,Live animals,10103,Pigs,2022,1,Q1,1,January,202201,1143667.23
3,1,Animal Products,101,Live animals,10104,Sheep and Goats,2022,1,Q1,1,January,202201,42038.64
4,1,Animal Products,101,Live animals,10105,Poultry,2022,1,Q1,1,January,202201,614400.94

#### Harmonized Sistem (HS)

###### São códigos de produtos os quais podem ser lidos em qualquer parte do mundo, para identificação de produtos.