## Objetivo

#### O projeto procura comparar a correlação de Taxa de Câmbio com as Exportações da Russia no seu período de Guerra (Janeiro de 2022) e também olhar esse comportamento durante o tempo.

### Data Frame - Exportação 

###### The Observatory of Economic Complexity.

OEC - Plataforma Especializada em dados de trocas comerciais (importações, exportações e taxas de câmbio).  Tambêm possuem blogs e pesquisas todas voltadas para a área da Economia.

<https://oec.world/en/profile/country/rus#:~:text=Yearly%20Exports,-%23permalink%20to%20section&text=In%202020%2C%20Russia%20exported%20a,to%20%24330B%20in%202020>

In [1]:
import pandas as pd

In [3]:
export = pd.read_csv('dados/Products-Exports-Jan-2022----Click-to-Select-a-Product.csv')

In [4]:
export.columns

Index(['Section ID', 'Section', 'HS2 ID', 'HS2', 'HS4 ID', 'HS4', 'Year',
       'Quarter ID', 'Quarter', 'Month ID', 'Month', 'Time', 'Trade Value'],
      dtype='object')

In [5]:
export.head()

,Section ID,Section,HS2 ID,HS2,HS4 ID,HS4,Year,Quarter ID,Quarter,Month ID,Month,Time,Trade Value
0,1,Animal Products,101,Live animals,10101,Horses,2022,1,Q1,1,January,202201,140448.01
1,1,Animal Products,101,Live animals,10102,Bovine,2022,1,Q1,1,January,202201,162982.54
2,1,Animal Products,101,Live animals,10103,Pigs,2022,1,Q1,1,January,202201,1143667.23
3,1,Animal Products,101,Live animals,10104,Sheep and Goats,2022,1,Q1,1,January,202201,42038.64
4,1,Animal Products,101,Live animals,10105,Poultry,2022,1,Q1,1,January,202201,614400.94

#### Harmonized Sistem (HS)

###### São códigos de produtos os quais podem ser lidos em qualquer parte do mundo, para identificação de produtos.

In [9]:
# Calculando o valor negociado total das seções

sections_tv = export.groupby('Section')[['Trade Value']].sum()
sections_tv.sort_values(by = 'Trade Value' , ascending = False)

                                   Trade Value
Section
Mineral Products                  2.004158e+10
Unspecified                       1.031496e+10
Metals                            5.495889e+09
Chemical Products                 2.473089e+09
Precious Metals                   1.542263e+09
Machines                          8.997067e+08
Vegetable Products                8.384156e+08
Wood Products                     7.762252e+08
Plastics and Rubbers              7.158085e+08
Foodstuffs                        5.269305e+08
Paper Goods                       4.191792e+08
Animal Products                   4.144378e+08
Animal and Vegetable Bi-Products  4.108023e+08
Transportation                    3.789569e+08
Stone And Glass                   1.124329e+08
Textiles                          9.232416e+07
Instruments                       8.994873e+07
Miscellaneous                     7.771348e+07
Footwear and Headwear             1.629997e+07
Animal Hides                      1.223073e+07

## <font color = red > Fazer Bar Plot com as Exportações por Seção

In [24]:
[export['Section'] == "Mineral Products" ]

[0       False
 1       False
 2       False
 3       False
 4       False
         ...
 1117    False
 1118    False
 1119    False
 1120    False
 1121    False
 Name: Section, Length: 1122, dtype: bool]

In [26]:
# Verificando o produto com a maior taxa de exportação na seção de Produtos Minerais 

mineral_products_filter = export['Section'] == "Mineral Products" 
mineral_products = export[mineral_products_filter]

In [43]:
# Selecionando o produto com maior valor de troca da seção 

product = mineral_products[mineral_products['Trade Value'] == mineral_products['Trade Value'].max()]['HS4']
product.values[0]

'Crude Petroleum'