<img src = 'imagens/Logo do Projeto 3 .png' >

#  <span style = "font-family:Times New Roman"> <font color = #045cbc> Objetivo 
    
<br>
    
- Apresentar algumas informações referentes à Data Science e Análise de Dados
<br>
    
- Comentários algumas ferramentas como Excel, R, Power BI     
<br>
    
- Quais são as possibilidades da ferramenta 
   <br>
    
- Fazer uma análise do câmbio do Rublo e Grívnia e da pauta de exportações da Ucrânia
   <br>
- Fazer Processo Seletivo

## <span style = "font-family:Times New Roman"> <font color = #045cbc> Análise de Dados

De acordo com o [**Wikipedia**](https://pt.wikipedia.org/wiki/An%C3%A1lise_de_dados) a análise de dados "é um processo de inspeção, limpeza, transformação e modelagem de dados **com o objetivo de descobrir informações úteis**, informar conclusões e apoiar a tomada de decisões".

Este processo de analise de dados é bastante comum em diversas áreas dentre elas temos a área da saúde, mercado financeiro, empresas de consultoria, a própria academia  entre várias outras.

Mas o que é um <font color = #045cbc>**"dado"** <font color = black>?
    
De acordo com [Valdemar Setzer](https://www.ime.usp.br/~vwsetzer/datagrama.html#Autor), professor do departamento de ciência da computação da USP, dado é <i>**"uma seqüência de símbolos quantificados ou quantificáveis"**</i>. Isso pode incluir uma vasta gama de conteúdos, que podem ser de ordem geográfica, temporal, sonora, tabular, textual, visual etc.

<img src = 'imagens/tipos de dados/geograficos.png' > <br> Fonte : [**Geopandas**](https://geopandas.org/en/stable/docs/user_guide/data_structures.html)

<img src = 'imagens/tipos de dados/série de tempo.png' >

### <span style = "font-family:Times New Roman"> <font color = #045cbc> Algumas Ferramentas Disponíveis

<img src = 'imagens/Algumas Ferramentas para Análise.png' width = 720 >

Existem uma série de ferramentas disponíveis para análise de dados. Nesta apresentação vamos comentar algumas famosas.

<img src = 'imagens/ferramentas/2.png' >

<img src = 'imagens/ferramentas/3.png' >

Fonte: [**Microsoft**](https://docs.microsoft.com/pt-br/power-bi/admin/service-admin-manage-your-data-storage-in-power-bi)

<img src = 'imagens/ferramentas/4.png' >

<img src = 'imagens/ferramentas/5.png' >

<br>

# <span style = "font-family:Times New Roman"> <font color = #045cbc> Guerra da Ucrânia 
    
<br>


<br>

Incluir o que é guerra. Como começou 


A Guerra da Rússia

THIAGO

<br>

- Buscar referências de autores/artigos que escreveram sobre este tema ; 
<br>

- Tratar uma análise breve do câmbio

<br>

# <span style = "font-family:Times New Roman"> <font color = #045cbc> Análise Cambial
    
<br>


<br>

## <span style = "font-family:Times New Roman"> <font color = #045cbc>Rublo Russo 
    
<br>

In [1]:
#Importando as bibliotecas necessárias para a visualização# 

import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
from dateutil.relativedelta import relativedelta
import datetime

In [2]:
# lendo os dados

rubloedolar = pd.read_csv('./dados/USD_RUB.csv')

## <font color = RED>

- snake_case
<br>

- comentários curtos. Se o comentário ficar longo nas células de código, escrever o texto em Markdown !
<br>

- Procurar boas práticas de código na internet

In [3]:
# Agora, para mais fácil entendimento alterei os nomes das variáveis para que o código rode

rubloedolar.rename(columns={'Price' : 'Último' , 'Date': 'Data',
                              'Máxima': 'High','Mínima': 'Low', 
                              'Var%': 'Change%', 'Abertura': 'Open',}, inplace=True)

In [4]:
#Agora, irei verificar se os dados estão corretos.
rubloedolar

      Data   Último     Open      High      Low  Change%
0   Jul 22  55,0200  51,4500   64,5988  51,3998    6,94%
1   Jun 22  51,4500  61,5000   62,4923  50,1006  -16,34%
2   Mai 22  61,5000  70,9600   70,9600  55,8383  -13,33%
3   Abr 22  70,9600  83,2000   84,9917  70,3221  -14,71%
4   Mar 22  83,2000  94,6025  121,2100  82,9525  -12,05%
..     ...      ...      ...       ...      ...      ...
86  Mai 15  52,3212  51,6513   52,1965  50,3630    1,30%
87  Abr 15  51,6513  58,1993   58,4863  49,4550  -11,25%
88  Mar 15  58,1993  61,6207   63,0344  56,2019   -5,55%
89  Fev 15  61,6207  68,8629   70,4525  59,8819  -10,52%
90  Jan 15  68,8629  55,9077   71,7575  55,9077   23,17%

[91 rows x 6 columns]

## <font color = blue> Trazendo exemplo de ano Base

In [8]:
rubloedolar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Data     91 non-null     object
 1   Último   91 non-null     object
 2   Open     91 non-null     object
 3   High     91 non-null     object
 4   Low      91 non-null     object
 5   Change%  91 non-null     object
dtypes: object(6)
memory usage: 4.4+ KB

In [19]:
# substituindo ',' por '.'

rubloedolar['Último'] = rubloedolar['Último'].str.replace(',','.').astype(float)

In [21]:
rubloedolar

      Data   Último     Open      High      Low  Change%
0   Jul 22  55.0200  51,4500   64,5988  51,3998    6,94%
1   Jun 22  51.4500  61,5000   62,4923  50,1006  -16,34%
2   Mai 22  61.5000  70,9600   70,9600  55,8383  -13,33%
3   Abr 22  70.9600  83,2000   84,9917  70,3221  -14,71%
4   Mar 22  83.2000  94,6025  121,2100  82,9525  -12,05%
..     ...      ...      ...       ...      ...      ...
86  Mai 15  52.3212  51,6513   52,1965  50,3630    1,30%
87  Abr 15  51.6513  58,1993   58,4863  49,4550  -11,25%
88  Mar 15  58.1993  61,6207   63,0344  56,2019   -5,55%
89  Fev 15  61.6207  68,8629   70,4525  59,8819  -10,52%
90  Jan 15  68.8629  55,9077   71,7575  55,9077   23,17%

[91 rows x 6 columns]

In [22]:
data_base_de_variacao = rubloedolar['Último'].loc[0]

In [23]:
 rubloedolar['Último']

0     55.0200
1     51.4500
2     61.5000
3     70.9600
4     83.2000
       ...
86    52.3212
87    51.6513
88    58.1993
89    61.6207
90    68.8629
Name: Último, Length: 91, dtype: float64

In [24]:
rubloedolar['Variacao %'] =  rubloedolar['Último']/data_base_de_variacao

In [25]:
rubloedolar

      Data   Último     Open      High      Low  Change%  Variacao %
0   Jul 22  55.0200  51,4500   64,5988  51,3998    6,94%    1.000000
1   Jun 22  51.4500  61,5000   62,4923  50,1006  -16,34%    0.935115
2   Mai 22  61.5000  70,9600   70,9600  55,8383  -13,33%    1.117775
3   Abr 22  70.9600  83,2000   84,9917  70,3221  -14,71%    1.289713
4   Mar 22  83.2000  94,6025  121,2100  82,9525  -12,05%    1.512177
..     ...      ...      ...       ...      ...      ...         ...
86  Mai 15  52.3212  51,6513   52,1965  50,3630    1,30%    0.950949
87  Abr 15  51.6513  58,1993   58,4863  49,4550  -11,25%    0.938773
88  Mar 15  58.1993  61,6207   63,0344  56,2019   -5,55%    1.057784
89  Fev 15  61.6207  68,8629   70,4525  59,8819  -10,52%    1.119969
90  Jan 15  68.8629  55,9077   71,7575  55,9077   23,17%    1.251598

[91 rows x 7 columns]

In [ ]:
# Para esta análise, só utilizei as variáveis 'Date' e 'Price' (Data e Preço de fechamento), e agora irei dar um comando 
# que faça só essas variáveis serem lidas.
rubloedolar = rubloedolar[['Date', 'Price']]

In [ ]:
# Com o comando 'Dropna()' irei eliminar quaisquer coluna ou linha que possa conter números que não possam ser lidos
rubloedolar = rubloedolar.dropna()

In [ ]:
# Agora, colocarei a nossa variável de interesse ao contrário usando '[::-1]', pois os dados estão de 2022-2015, e 2015 precisa
# ser o começo da análise
datacorreta = rubloedolar.iloc[::-1]

In [ ]:
# Ajustando index

datacorreta.reset_index(drop = True, inplace = True)

In [ ]:
# transformando a variavel ''Date'' em datetime, sendo o módulo datetime responsável por fornecer as classes para manipulação de
# datas e horas. Assim sendo possivél organizar pela data correta.
inicio_date = datetime.date(2015, 1, 1)
fim_date = datetime.date(2022, 7, 1)
delta = relativedelta(months=1)
datas = []
while (inicio_date <= fim_date):
    datas.append(inicio_date)
    inicio_date += delta
for registro in range(len(datacorreta)):
    datacorreta.loc[registro, 'datetime'] = datas[registro]

In [ ]:
# colocando a Data como índice, assim podemos manipular o preço através dos anos escolhidos.
rublo3 = datacorreta.set_index('datetime')

In [ ]:
rublo3 = datacorreta.drop(columns=['Date'])

In [ ]:
rublo3.set_index('datetime', inplace=True)

In [ ]:
rublo3['Price'] = rublo3['Price'].str.replace(',','.').astype(float)

In [ ]:
# Depois de todo tratamento de dados, podemos ver o resultado graficamente
plt.figure(figsize=(18, 8)) 
  
plt.plot(rublo3) 


plt.title('Quanto 1 Dólar Americano compra do Rublo Russo ', fontsize=25)
plt.ylabel('Preço de fechamento do RUB em USD', fontsize=18)



for pos in ['right', 'top', 'bottom', 'left']: 
    plt.gca().spines[pos].set_visible(False) 
plt.show()

Gráficos interativos 

- Outras coisas fodas que podem ser feitos
<br>

- Mostrar um vídeo no final do Angelo

IPython
Candlesticks


<br>

## <span style = "font-family:Times New Roman"> <font color = #045cbc> Grynia Ucraniana
    
<br>

In [ ]:
#Importando as bibliotecas necessárias para a visualização

import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
from dateutil.relativedelta import relativedelta
import datetime

In [ ]:
# lendo os dados

gryniaedolar = pd.read_csv(r'dados/ukr.csv')

# renomeando colunas, que devem ser em inglês pois mais a frente, usarei o comando 'datetime' e ele não reconhece as variáveis
# em português

gryniaedolar.rename(columns={'Último': 'Price', 'Data': 'Date',
                             'Máxima': 'High','Mínima': 'Low', 
                             'Var%': 'Change%', 'Abertura': 'Open',}, 
                    
                    inplace=True)

In [ ]:
# Agora, iremos rodar os dados e chegar se estão corretos
gryniaedolar

In [ ]:
# Para esta análise, só utilizei as variáveis 'Date' e 'Price' (Data e Preço de fechamento), e agora irei dar um comando 
# que faça só essas variáveis serem lidas.
gryniaedolar = gryniaedolar[['Date', 'Price']]

In [ ]:
# Com o comando 'Dropna()' irei eliminar quaisquer coluna ou linha que possa conter números que não possam ser lidos
gryniaedolar = gryniaedolar.dropna()

In [ ]:
# Usando '.info()' irei checar se a variável price está como númerica, e se estiver, estará como 'float64'.

grynia_e_dolar.info()

In [ ]:
# Pronto,Agora, colocarei a nossa variável de interesse ao contrário usando '[::-1]', pois os dados estão de 2022-2015, sendo 
# 2015 o começo da análise.
analisecorreta_df = gryniaedolar.iloc[::-1]

In [ ]:
# Ajustando index 
analisecorreta_df.reset_index(drop = True, inplace = True)

In [ ]:
# transformando a variavel ''Date'' em datetime, sendo o módulo datetime responsável por fornecer as classes para manipulação de
# datas e horas. Assim sendo possivél organizar pela data correta.

inicio_date = datetime.date(2015, 1, 1)
fim_date = datetime.date(2022, 7, 1)

delta = relativedelta(months=1)
datas = []

while (inicio_date <= fim_date):
    datas.append(inicio_date)
    inicio_date += delta

In [ ]:
for registro in range(len(analisecorreta_df)):
    analisecorreta_df.loc[registro, 'datetime'] = datas[registro]

In [ ]:
# colocando a Data como índice, assim podemos manipular o preço através dos anos escolhidos

grynia3 = analisecorreta_df.set_index('datetime')
grynia3 = analisecorreta_df.drop(columns=['Date'])

In [ ]:
grynia3.set_index('datetime', inplace=True)

In [ ]:
grynia3['Price'] = grynia3['Price'].str.replace(',','.').astype(float)

In [ ]:
# Depois de todo tratamento de dados, podemos ver o resultado graficamente
plt.figure(figsize=(18, 8)) 
  
plt.plot(grynia3) 

plt.title('Quanto 1 Dólar Americano compra da Hryvinia Ucraniana ', fontsize=25)

for eixo in ['right', 'top', 'bottom', 'left']: 
    plt.gca().spines[eixo].set_visible(False) 
plt.show()


<br>

## <span style = "font-family:Times New Roman"> <font color = #045cbc> Processo Seletivo 
    
<br>


<br>

## <span style = "font-family:Times New Roman"> <font color = #045cbc> Referências 
    
<br>


<br>

## <span style = "font-family:Times New Roman"> <font color = #045cbc> Desenvolvedores do Projeto 
    
<br>