In [18]:
#Importando as bibliotecas necessárias para a visualização# 
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
from dateutil.relativedelta import relativedelta
import datetime

In [2]:
## lendo os dados##
gryniaxdolar = pd.read_csv(r'C:\Users\ahcar\Desktop\buceta.csv')
gryniaxdolar.rename(columns={'Último': 'Price', 'Data': 'Date','Máxima': 'High','Mínima': 'Low', 'Var%': 'Change%', 'Abertura': 'Open',}, inplace=True)

In [3]:
grynia = gryniaxdolar.replace({',': '.'}, regex=True)
grynia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     91 non-null     object
 1   Price    91 non-null     object
 2   Open     91 non-null     object
 3   High     91 non-null     object
 4   Low      91 non-null     object
 5   Change%  91 non-null     object
dtypes: object(6)
memory usage: 4.4+ KB

In [4]:
grynia = grynia.astype({'Price':'float'})

In [5]:
grynia = gryniaxdolar.reindex(columns = ['Date','Price'])
grynia

      Date    Price
0   Jul 22  29,4025
1   Jun 22  29,2500
2   Mai 22  29,5400
3   Abr 22  30,2500
4   Mar 22  29,5000
..     ...      ...
86  Mai 15  20,9500
87  Abr 15  21,2500
88  Mar 15  23,4429
89  Fev 15  27,2500
90  Jan 15  16,1575

[91 rows x 2 columns]

In [6]:
grynia = gryniaxdolar.replace({',': '.'}, regex=True)
grynia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     91 non-null     object
 1   Price    91 non-null     object
 2   Open     91 non-null     object
 3   High     91 non-null     object
 4   Low      91 non-null     object
 5   Change%  91 non-null     object
dtypes: object(6)
memory usage: 4.4+ KB

In [7]:
grynia = grynia.astype({'Price':'float'})

In [26]:
grynia2= grynia.reindex(columns = ['Date','Price'])

In [27]:
grynia2

      Date    Price
0   Jul 22  29.4025
1   Jun 22  29.2500
2   Mai 22  29.5400
3   Abr 22  30.2500
4   Mar 22  29.5000
..     ...      ...
86  Mai 15  20.9500
87  Abr 15  21.2500
88  Mar 15  23.4429
89  Fev 15  27.2500
90  Jan 15  16.1575

[91 rows x 2 columns]

In [25]:
## transformando a variavel ''Date'' em datetime (explicar o que é datetime) #
inicio_date = ppp.Date(2015, 1, 1)
fim_date = ppp.Date(2022, 7, 7)
delta = relativedelta(months=1)
datas = []
while (inicio_date <= fim_date):
    datas.append(inicio_date)
    inicio_date += delta
for registro in range(len(df)):
    grynia2.loc[registro, 'datetime'] = datas[registro]

# colocando a Data como índice
grynia3 = df.set_index('datetime')
grynia3 = df.drop(columns=['Data'])

TypeError: 'Series' object is not callable

In [ ]:
plt.figure(figsize=(18, 8)) 
  
plt.plot(grynia3) 

plt.tick_params(axis='y', which='both', right=False, 
                left=False, labelleft=False) 
plt.title('Grynia Ucraniana Em Relação ao Dolar', fontsize=25)

for pos in ['right', 'top', 'bottom', 'left']: 
    plt.gca().spines[pos].set_visible(False) 
plt.show()